
<div class="container">
        <div class="upload-card">
            <h1>Cargar Archivo</h1>
            <form id="uploadForm" action="/api/upload" method="POST" enctype="multipart/form-data">
                <div class="file-input-container">
                    <label for="file-upload" class="file-input-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="upload-icon"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>
                        <span>Haga clic para cargar o arrastre y suelte</span>
                        <span class="file-name">Solo archivos PDF</span>
                    </label>
                    <input id="file-upload" type="file" name="Archivo" required>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <div id="alertContainer"></div>
    <script src="/js/upload.js"></script>
    <script>
        document.getElementById('file-upload').addEventListener('change', function(e) {
            let fileName = e.target.files[0] ? e.target.files[0].name : 'PDF';
            document.querySelector('.file-name').textContent = fileName;
        });
    </script>


    
    